<script src="calculator.js"></script>
<form id="calculator" oninput="updateOutput()">
  <p>Your Time</p>
  <table>
    <tr>
      <th>Hours</th>
      <th>Minutes</th>
      <th>Seconds</th>
    </tr>
    <tr>
      <td><input name="yourtimeH" type="number" value="0" min="0"></td>
      <td><input name="yourtimeM" type="number" value="0" min="0"></td>
      <td><input name="yourtimeS" type="number" value="0" min="0"></td>
    </tr>
  </table>
  <p>Winner's Time</p>
  <table>
    <tr>
      <th>Hours</th>
      <th>Minutes</th>
      <th>Seconds</th>
    </tr>
    <tr>
      <td><input name="wintimeH" type="number" value="0" min="0"></td>
      <td><input name="wintimeM" type="number" value="0" min="0"></td>
      <td><input name="wintimeS" type="number" value="0" min="0"></td>
    </tr>
  </table>
  <p>Points: <output name="points" for="yourtimeS yourtimeM yourtimeH wintimeS wintimeM wintimeH">Error: Times must not be zero</output></p>
</form>
